# Build artifacts
bin/
[Bb]in/
obj/
[Oo]bj/
Bon/
[Bb]on/
**/bin/
**/[Bb]in/
**/obj/
**/[Oo]bj/
**/Bon/
**/[Bb]on/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dotnet compiler outputs
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/
[Aa]pp_Data/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Build logs
*.cache
*.log
*.tlog
*.trx

# User-specific
*.RSuser
*.vsp
*.vspx
*.sap
*.opendb
*.pdb
*.dbmdl

# Others
.vscode/
.idea/
*.sln.iml
